@{
    ViewData["Title"] = "Add Stock";
}

@model DealsForYou.Models.StockModel

<div>
    <h1>Add New Stock</h1>
    <form asp-controller="Admin" asp-action="AddToSystem" method="post" enctype="multipart/form-data">
        <label asp-for="Make">Make</label>
        <input asp-for="Make" />
        <span asp-validation-for="Make" class="text-danger"></span>

        <label asp-for="Model">Model</label>
        <input asp-for="Model" />
        <span asp-validation-for="Model" class="text-danger"></span>
        
        <label asp-for="Year">Year</label>
        <input asp-for="Year" />
        <span asp-validation-for="Year" class="text-danger"></span>

        <label asp-for="Vin">VIN</label>
        <input asp-for="Vin" />
        <span asp-validation-for="Vin" class="text-danger"></span>

        <label asp-for="License">License</label>
        <input asp-for="License" />
        <span asp-validation-for="License" class="text-danger"></span>

        <label asp-for="Price">Price</label>
        <input asp-for="Price" />
        <span asp-validation-for="Price" class="text-danger"></span>

        <label asp-for="UploadedFile">Image of Car</label>
        <input asp-for="UploadedFile" type="file" />
        <span asp-validation-for="UploadedFile" class="text-danger"></span>

        <button type="submit">Add Stock</button>
    </form>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
