@{
    ViewData["Title"] = "Deleted Item";
}

@model CurrentStock

<div class="deleted-item-container">
    <h1 class="deleted-item-title">Deleted Item</h1>
    <div class="item-details">
        <h2 class="item-title">@Model.Year @Model.Make @Model.Model</h2>
        <p class="item-message">The item has been successfully deleted from the stock.</p>
        <a asp-action="Index" asp-controller="Admin" class="btn btn-primary">Go To Stock</a>
    </div>
</div>
