@{
    ViewData["Title"] = "Submitted";
}

@model User

<div class="submission-container">
    <h1 class="submission-title">Offer Submitted</h1>
    <div class="thank-you-message">
        <p>Thank you <strong>@Model.FirstName @Model.LastName</strong> for submitting an offer to us!</p>
        <p>Please check in regularly to see if your offer has been processed.</p>
        <a asp-action="Index" asp-controller="Users" class="back-link">Back To Browse</a>
    </div>
</div>
